<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentScene</key>
	<string>81</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
		<string>Rotate</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
		<string>InnerHTML</string>
	</array>
	<key>documentVersion</key>
	<string>108</string>
	<key>drawSceneBackgrounds</key>
	<false/>
	<key>guidesAreLocked</key>
	<false/>
	<key>lastCheckDate</key>
	<date>2012-06-16T18:04:31Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>123</real>
		<key>mainWindowFrame</key>
		<string>0 51 1167 827 0 0 1440 878 </string>
		<key>openTabs</key>
		<array>
			<dict>
				<key>className</key>
				<string>HypeJavascript</string>
				<key>oid</key>
				<string>45</string>
			</dict>
			<dict>
				<key>className</key>
				<string>HypeJavascript</string>
				<key>oid</key>
				<string>111</string>
			</dict>
			<dict>
				<key>className</key>
				<string>HypeJavascript</string>
				<key>oid</key>
				<string>112</string>
			</dict>
		</array>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<true/>
		<key>splitHeight</key>
		<real>478</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>oidCounter</key>
	<integer>537</integer>
	<key>resources</key>
	<array>
		<dict>
			<key>bookmark</key>
			<data>
			Ym9va9ACAAAAAAEQEAAAAAQCAAAFAAAAAQEAAFVzZXJzAAAACAAA
			AAEBAABlZ3JhZG1hbgMAAAABAQAAZGV2AAsAAAABAQAAZG9wcGVs
			Z2FtZXMAAwAAAAEBAABnb2cABgAAAAEBAABzdGF0aWMAAAoAAAAB
			AQAAbW9ua2V5LnBuZwAAHAAAAAEGAAAEAAAAFAAAACQAAAAwAAAA
			RAAAAFAAAABgAAAACAAAAAQDAABClgAAAAAAAAgAAAAEAwAArh8H
			AAAAAAAIAAAABAMAAGKqBwAAAAAACAAAAAQDAAB5aKwCAAAAAAgA
			AAAEAwAAgWlqAQAAAAAIAAAABAMAAJBuagEAAAAACAAAAAQDAABQ
			zLgBAAAAABwAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgAAADoAAAA
			+AAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAABAAA
			AAMDAAAFAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2gg
			SEQIAAAABAMAAABgfyscAAAACAAAAAAEAABBsk2wtwAAACQAAAAB
			AQAAMzM5N0M5M0MtMEVDMi0zRTg5LTg5ODQtM0I2NzQ4OEE1QTY3
			GAAAAAECAACBAAAAAQAIAO8/AAABAAgAAAAAAAAAAAABAAAAAQEA
			AC8AAAAAAAAAAQUAAAQAAAADAwAAAAEAALQAAAD+////AQAAAAAA
			AAAOAAAABBAAAHQAAAAAAAAABRAAAAgBAAAAAAAAEBAAACwBAAAA
			AAAAAiAAAOQBAAAAAAAAECAAAGQBAAAAAAAAESAAAJgBAAAAAAAA
			EiAAAHgBAAAAAAAAEyAAAIgBAAAAAAAAICAAAMQBAAAAAAAAMCAA
			APABAAAAAAAAAcAAAEwBAAAAAAAAEcAAABQAAAAAAAAAEsAAAFgB
			AAAAAAAAENAAAPgBAAAAAAAA
			</data>
			<key>fileModificationDate</key>
			<date>2011-09-24T22:03:44Z</date>
			<key>md5</key>
			<string>FE8CAC5F7F2D1C65EE4B88E10BCF6F24</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/egradman/dev/doppelgames/gog/static/monkey.png</string>
			<key>resourceName</key>
			<string>monkey.png</string>
		</dict>
	</array>
	<key>sceneSize</key>
	<string>{2048, 1346}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>0.0</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{2334, 1386}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict/>
				<key>onSceneLoadAction</key>
				<dict>
					<key>javascriptOid</key>
					<string>112</string>
					<key>type</key>
					<integer>4</integer>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>dummy</string>
			<key>oid</key>
			<string>110</string>
			<key>scrollViewOffset</key>
			<string>{15, 10}</string>
			<key>selectedObjects</key>
			<array/>
			<key>splitHeight</key>
			<real>627</real>
		</dict>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>lastUserSelectedTimingFunction</key>
				<string>linear</string>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>1.3666666746139526</real>
				</dict>
				<key>timescale</key>
				<integer>50</integer>
			</dict>
			<key>canvasSize</key>
			<string>{2334, 1386}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>536</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>monkey</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>25px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.13636</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>128px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>monkey.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>22px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>389px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>442px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>46px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
					<key>537</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontFamily</string>
							<key>objectValue</key>
							<string></string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingRight</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontSize</string>
							<key>objectValue</key>
							<string>16px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>AltText</string>
							<key>objectValue</key>
							<string>&lt;%= something %&gt;</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WordWrap</string>
							<key>objectValue</key>
							<string>break-word</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Text</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>424px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingBottom</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WhiteSpaceCollapsing</string>
							<key>objectValue</key>
							<string>preserve</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>92px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>963px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>New Text</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>492px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingLeft</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingTop</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Text</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextColor</string>
							<key>objectValue</key>
							<string>#000000</string>
						</dict>
					</array>
				</dict>
				<key>onSceneAnimationCompleteAction</key>
				<dict>
					<key>javascriptOid</key>
					<string>45</string>
					<key>type</key>
					<integer>4</integer>
				</dict>
				<key>onSceneLoadAction</key>
				<dict>
					<key>javascriptOid</key>
					<string>111</string>
					<key>type</key>
					<integer>4</integer>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#212222</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>3.1333334445953369</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>1510px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<true/>
								<key>oid</key>
								<string>536</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>128px</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>2D9773D0-D10A-44E8-AE7D-3E6942D4BAF8-1547-0000360AFA7AE7A3</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>3.1333334445953369</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>424px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<true/>
								<key>oid</key>
								<string>536</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>46px</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>DCC1B142-5614-47D3-AAF6-199F926AB77F-1547-0000360AFE0CF829</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>3.1333334445953369</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>726px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<true/>
								<key>oid</key>
								<string>537</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>424px</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>E941C1E1-89D5-4547-BAF5-1818AE64FB2D-1547-00003705A62A37CD</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>3.1333334445953369</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>265px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<true/>
								<key>oid</key>
								<string>537</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>963px</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>3092C15F-F600-4B47-8D14-A6E2E6F82070-1547-00003705AB35226A</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>536</string>
								<key>startTime</key>
								<real>3.1333334445953369</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>1510px</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>464B5920-C355-4E4A-A6DE-5A472E8760D3-1547-0000360AFA8DAB72</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>536</string>
								<key>startTime</key>
								<real>3.1333334445953369</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>424px</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>4F5E6130-E597-4A32-A9DB-3D5A73B1F76C-1547-0000360AFE1250F7</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>537</string>
								<key>startTime</key>
								<real>3.1333334445953369</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>726px</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>73EC172B-2B27-4672-A838-AB21E38705D1-1547-00003705A6331C07</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>537</string>
								<key>startTime</key>
								<real>3.1333334445953369</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>265px</string>
								</dict>
								<key>timingFunction</key>
								<string>linear</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>6890D80B-3BC5-49F5-9BFE-0BBF5565514D-1547-00003705AB3CCD67</string>
							</dict>
						</array>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>monkeys</string>
			<key>oid</key>
			<string>81</string>
			<key>scrollViewOffset</key>
			<string>{0, 66}</string>
			<key>selectedObjects</key>
			<array>
				<string>537</string>
			</array>
			<key>splitHeight</key>
			<real>478</real>
		</dict>
	</array>
	<key>scripts</key>
	<array>
		<dict>
			<key>oid</key>
			<string>45</string>
			<key>source</key>
			<string>function animationComplete(hypeDocument, element, event) {
	try {
		HypeView.animationComplete(hypeDocument);
	} catch(e) {
		console.log("error in animationComplete", e);
	}
}
</string>
		</dict>
		<dict>
			<key>oid</key>
			<string>111</string>
			<key>source</key>
			<string>function animationSceneLoad(hypeDocument, element, event) {
	try {
		HypeView.animationSceneLoad(hypeDocument);
	} catch(e) {
		console.log("error in animationSceneLoad", e);
	}
}
</string>
		</dict>
		<dict>
			<key>oid</key>
			<string>112</string>
			<key>source</key>
			<string>function documentLoaded(hypeDocument, element, event) {
	try {
		HypeView.documentLoaded(hypeDocument);
	} catch(e) {
		console.log("error in documentLoaded", e);
	}
}
</string>
		</dict>
	</array>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>unsupportedBrowserIdentifiers</key>
	<array/>
	<key>zoomFactor</key>
	<real>0.5</real>
</dict>
</plist>
